@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 97vh;
    width: 97vw;
    background-color: black;
    background: url('../imagens/fundo-madeira.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 97vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section#telefone{
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    
}

iframe#tela{
    position: relative;
    top: 81px;
    left: 22px;
    height: 470px;
    width: 266px;
    
}

section#redes-sociais{
    position: absolute;
    top: -250px;
    right: 30px;
    transform: translate(50%, 50%);
   display: inline-block;
   
   
   
}

section#redes-sociais img{
    
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.201);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 3px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.481);
    transition: transform 0.2s;
}

section#redes-sociais img:active {
    transform: scale(80%);
}